body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
 
h2,
h3 {
  color: #00c621;
}
 
nav a:hover {
  font-weight: bold;
}
 
.profile header {
  text-align: left;
}
 
.featured-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
}
 
.certificate {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}
 
.container {
  display: flex;
  align-items: center;
  max-width: 50%;
}
 
.profile img {
  max-width: 200px;
}
 
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
}
 
nav ul {
  padding-inline: 4rem;
  display: flex;
  gap: 2rem;
}
 
nav li {
  list-style-type: none;
}
 
nav {
  background-color: #000dc6;
  padding: 5px;
  position: sticky;
  top: 0;
}
 
main {
  padding: 20px;
  display: flex;
  gap: 1.5rem;
}
 
#content {
  flex: 5;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem 2rem;
}
 
aside {
  flex: 1;
}
 
.kontenhead {
  display: inline;
  background-color: #0066eb;
  color: white;
}
 
footer {
  padding: 20px;
  color: white;
  background-color: #0066eb;
  text-align: center;
  font-weight: bold;
}
 
footer footercopy {
  background-color: #000dc6;
  padding: 5px;
}
  
/* Perangkat dengan lebar layar 1200px dan di bawahnya */
@media screen and (max-width: 19200px) {
  .model{
    width: 280px;
    height: 262px;
    line-height: 1px;
    border-radius: 50%;
    -webkit-border-radius: 40%;
    transition: ease all 0.3s;
    position: fixed;
    left: 1px;
    bottom: 3px;
  }
  * {
    box-sizing: border-box;
  }

  nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
  }

  header {
    font-size: 17px;
    padding: 20px;
    text-align: center;
    background-color: #0066eb;
    color: white;
  }

  main {
    flex-flow: column flex;
  }
 
  main aside {
    align-self: unsafe;
  }
  .act-btn{
    background: rgb(0, 204, 51);
    display: block;
    width: 80px;
    height: 62px;
    line-height: 1px;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    -webkit-border-radius: 40%;
    text-decoration: none;
    transition: ease all 0.3s;
    position: fixed;
    right: 30px;
    bottom: 30px;
  }

  .act-btn:hover{
    background: rgb(7, 4, 196)
  }
  .act-wrn{
    background: rgb(0, 204, 51);
    display: block;
    width: 80px;
    height: 62px;
    line-height: 1px;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    -webkit-border-radius: 40%;
    text-decoration: none;
    transition: ease all 0.3s;
    position: fixed;
    right: 30px;
    bottom: 105px;
  }

  .act-wrn:hover{
    background: rgb(7, 4, 196)
  }

  .act-hlm{
    background: rgb(7, 4, 196);
    display: block;
    width: 80px;
    height: 62px;
    line-height: 1px;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    -webkit-border-radius: 40%;
    text-decoration: none;
    transition: ease all 0.3s;
    position: fixed;
    right: 30px;
    bottom: 180px;
  }

  .act-hlm:hover{
    background: rgb(0, 204, 51)
  }
}
 
/* Perangkat dengan lebar layar 768px dan di bawahnya */
@media screen and (max-width: 768px) {
  .model{
    width: 200px;
    height: 182px;
    line-height: 1px;
    transition: ease all 0.3s;
    position: fixed;
    left: 1px;
    bottom: 1px;
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  nav a {
    font-size: 10px;
    font-weight: 400;
    text-decoration: none;
    color: white;
  }

  header {
    font-size: 15px;
    padding: 40px;
    text-align: center;
    background-color: #0066eb;
    color: white;
  }

  nav ul {
    justify-content: center;
  }

  main {
    flex-flow: column nowrap;
  }
  
  main aside {
    align-self: stretch;
  }
  .act-btn{
    background: rgb(0, 204, 51);
    display: block;
    width: 50px;
    height: 38px;
    line-height: 1px;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    -webkit-border-radius: 40%;
    text-decoration: none;
    transition: ease all 0.3s;
    position: fixed;
    right: 20px;
    bottom: 30px;
  }
  
  .act-btn:hover{
    background: rgb(7, 4, 196)
  }
  .act-wrn{
    background: rgb(0, 204, 51);
    display: block;
    width: 50px;
    height: 38px;
    line-height: 1px;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    -webkit-border-radius: 40%;
    text-decoration: none;
    transition: ease all 0.3s;
    position: fixed;
    right: 20px;
    bottom: 80px;
  }
  
  .act-wrn:hover{
    background: rgb(7, 4, 196)
  }

  .act-hlm{
    background: rgb(7, 4, 196);
    display: block;
    width: 50px;
    height: 38px;
    line-height: 1px;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    -webkit-border-radius: 40%;
    text-decoration: none;
    transition: ease all 0.3s;
    position: fixed;
    right: 20px;
    bottom: 130px;
  }
  
  .act-hlm:hover{
    background: rgb(0, 204, 51)
  }

}
